<!DOCTYPE html>
<% include layout%>
</script>
<body ng-app="myApp" ng-controller="myCtrl">
	<div>
		<h5>Unapproved Request:</h5>
		<div class="container">
			<%books.forEach(function(book){%>
				<%if(book.status==='Unapproved'){%>
					<div class="item w2" id="div<%=book._id%>">
						<img src="<%=book.book.thumbnail%>" height='150px' width=100px>
					<i><%=book.book.name%><i>
				</div>
			<%}%>
			<%})%>
		</div>
		<h5>Approved Request<h5>
		<div class="container">
			<%books.forEach(function(book){%>
				<%if(book.status==='Approve'){%>
					<div class="item w2" id="div<%=book._id%>">
						<img src="<%=book.book.thumbnail%>" height='150px' width=100px>
						<i><%=book.book.name%><i>
					</div>
				<%}%>
			<%})%>
		</div>
	</div>
</body>